.daracl-dialog-hidden {
  visibility: visible;
  width: 0px;
  height: 0px;
  z-index: 1000;
}

.daracl-dialog-overlay {
  background: #aaaaaa;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.daracl-dialog-wrapper {
  z-index: 10000;
  position: fixed;
  width: 400px;
  color: #000000;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.daracl-dialog-wrapper * {
  box-sizing: border-box;
}
.daracl-dialog-wrapper.hide {
  display: none;
}
.daracl-dialog-wrapper.transform-disable {
  transform: none !important;
}
.daracl-dialog-wrapper.move-on .dialog-move-overay {
  display: block !important;
}
.daracl-dialog-wrapper.move-on .resizer {
  display: none;
  position: relative;
  z-index: 0;
}
.daracl-dialog-wrapper.maximise {
  width: calc(100% - 6px) !important;
  height: calc(100% - 6px) !important;
  top: 3px !important;
  left: 3px !important;
  transform: initial;
}
.daracl-dialog-wrapper.maximise .resizer {
  display: none;
}
.daracl-dialog-wrapper.maximise .dialog-header {
  cursor: default !important;
}
.daracl-dialog-wrapper > .daracl-dialog {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  height: 100%;
  position: relative;
  background: #ffffff;
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-header {
  width: 100%;
  height: 40px;
  padding: 10px 30px 10px 20px;
  background: #f5f5f5;
  border: #e6e6e6;
  border-radius: 4px 4px 0px 0px;
  cursor: move;
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-header > .btn-area {
  position: absolute;
  top: 10px;
  right: 10px;
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-header > .btn-area > .dialog-maximise {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236c6c6c' width='16px' height='16px' viewBox='0 0 16 16' %3E%3Cpath d='M4.5 3C3.67157 3 3 3.67157 3 4.5V11.5C3 12.3284 3.67157 13 4.5 13H11.5C12.3284 13 13 12.3284 13 11.5V4.5C13 3.67157 12.3284 3 11.5 3H4.5ZM4.5 4H11.5C11.7761 4 12 4.22386 12 4.5V11.5C12 11.7761 11.7761 12 11.5 12H4.5C4.22386 12 4 11.7761 4 11.5V4.5C4 4.22386 4.22386 4 4.5 4Z' /%3E%3C/svg%3E");
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-header > .btn-area > .dialog-close {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236c6c6c' width='16px' height='16px' viewBox='0 0 1024 1024'%3E%3Cpath d='M764.288 214.592 512 466.88 259.712 214.592a31.936 31.936 0 0 0-45.12 45.12L466.752 512 214.528 764.224a31.936 31.936 0 1 0 45.12 45.184L512 557.184l252.288 252.288a31.936 31.936 0 0 0 45.12-45.12L557.12 512.064l252.288-252.352a31.936 31.936 0 1 0-45.12-45.184z'/%3E%3C/svg%3E");
}
.daracl-dialog-wrapper > .daracl-dialog .dialog-move-overay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: none;
  top: 0px;
  left: 0px;
  opacity: 0;
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-body {
  padding: 10px;
  height: calc(100% - 40px - 35px);
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  min-height: 50px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-body.primary {
  padding-left: 45px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232496ed' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M480-271.521q20.603 0 34.541-13.938 13.938-13.938 13.938-34.541v-151.521q0-20.604-13.938-34.541Q500.603-520 480-520q-20.603 0-34.541 13.938-13.938 13.937-13.938 34.541V-320q0 20.603 13.938 34.541 13.938 13.938 34.541 13.938Zm0-317.174q21.805 0 36.555-14.75T531.305-640q0-21.805-14.75-36.555T480-691.305q-21.805 0-36.555 14.75T428.695-640q0 21.805 14.75 36.555T480-588.695Zm0 527.913q-87.522 0-163.906-32.96-76.385-32.96-132.888-89.464-56.504-56.503-89.464-132.888Q60.782-392.478 60.782-480t32.96-163.906q32.96-76.385 89.464-132.888 56.503-56.504 132.888-89.464 76.384-32.96 163.906-32.96t163.906 32.96q76.385 32.96 132.888 89.464 56.504 56.503 89.464 132.888 32.96 76.384 32.96 163.906t-32.96 163.906q-32.96 76.385-89.464 132.888-56.503 56.504-132.888 89.464Q567.522-60.782 480-60.782Zm0-106.001q131.739 0 222.478-90.739T793.217-480q0-131.739-90.739-222.478T480-793.217q-131.739 0-222.478 90.739T166.783-480q0 131.739 90.739 222.478T480-166.783ZM480-480Z'/%3E%3C/svg%3E");
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-body.secondary {
  padding-left: 45px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232496ed' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M480-271.521q20.603 0 34.541-13.938 13.938-13.938 13.938-34.541v-151.521q0-20.604-13.938-34.541Q500.603-520 480-520q-20.603 0-34.541 13.938-13.938 13.937-13.938 34.541V-320q0 20.603 13.938 34.541 13.938 13.938 34.541 13.938Zm0-317.174q21.805 0 36.555-14.75T531.305-640q0-21.805-14.75-36.555T480-691.305q-21.805 0-36.555 14.75T428.695-640q0 21.805 14.75 36.555T480-588.695Zm0 527.913q-87.522 0-163.906-32.96-76.385-32.96-132.888-89.464-56.504-56.503-89.464-132.888Q60.782-392.478 60.782-480t32.96-163.906q32.96-76.385 89.464-132.888 56.503-56.504 132.888-89.464 76.384-32.96 163.906-32.96t163.906 32.96q76.385 32.96 132.888 89.464 56.504 56.503 89.464 132.888 32.96 76.384 32.96 163.906t-32.96 163.906q-32.96 76.385-89.464 132.888-56.503 56.504-132.888 89.464Q567.522-60.782 480-60.782Zm0-106.001q131.739 0 222.478-90.739T793.217-480q0-131.739-90.739-222.478T480-793.217q-131.739 0-222.478 90.739T166.783-480q0 131.739 90.739 222.478T480-166.783ZM480-480Z'/%3E%3C/svg%3E");
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-body.info {
  padding-left: 45px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232496ed' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M480-271.521q20.603 0 34.541-13.938 13.938-13.938 13.938-34.541v-151.521q0-20.604-13.938-34.541Q500.603-520 480-520q-20.603 0-34.541 13.938-13.938 13.937-13.938 34.541V-320q0 20.603 13.938 34.541 13.938 13.938 34.541 13.938Zm0-317.174q21.805 0 36.555-14.75T531.305-640q0-21.805-14.75-36.555T480-691.305q-21.805 0-36.555 14.75T428.695-640q0 21.805 14.75 36.555T480-588.695Zm0 527.913q-87.522 0-163.906-32.96-76.385-32.96-132.888-89.464-56.504-56.503-89.464-132.888Q60.782-392.478 60.782-480t32.96-163.906q32.96-76.385 89.464-132.888 56.503-56.504 132.888-89.464 76.384-32.96 163.906-32.96t163.906 32.96q76.385 32.96 132.888 89.464 56.504 56.503 89.464 132.888 32.96 76.384 32.96 163.906t-32.96 163.906q-32.96 76.385-89.464 132.888-56.503 56.504-132.888 89.464Q567.522-60.782 480-60.782Zm0-106.001q131.739 0 222.478-90.739T793.217-480q0-131.739-90.739-222.478T480-793.217q-131.739 0-222.478 90.739T166.783-480q0 131.739 90.739 222.478T480-166.783ZM480-480Z'/%3E%3C/svg%3E");
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-body.success {
  padding-left: 45px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23493fff' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='m422.304-427.784-71.303-71.303q-14.392-14.392-35.914-14.392-21.522 0-35.913 14.392-14.392 14.391-14.109 35.913.283 21.522 14.674 35.914l104.956 104.956q16.162 15.956 37.712 15.956 21.55 0 37.506-15.956l217.522-217.522q14.391-14.391 14.391-35.63 0-21.24-14.391-35.631-14.392-14.392-35.914-14.392-21.522 0-35.913 14.392L422.304-427.784ZM480-60.782q-87.522 0-163.906-32.96-76.385-32.96-132.888-89.464-56.504-56.503-89.464-132.888Q60.782-392.478 60.782-480t32.96-163.906q32.96-76.385 89.464-132.888 56.503-56.504 132.888-89.464 76.384-32.96 163.906-32.96t163.906 32.96q76.385 32.96 132.888 89.464 56.504 56.503 89.464 132.888 32.96 76.384 32.96 163.906t-32.96 163.906q-32.96 76.385-89.464 132.888-56.503 56.504-132.888 89.464Q567.522-60.782 480-60.782Zm0-106.001q131.739 0 222.478-90.739T793.217-480q0-131.739-90.739-222.478T480-793.217q-131.739 0-222.478 90.739T166.783-480q0 131.739 90.739 222.478T480-166.783ZM480-480Z'/%3E%3C/svg%3E");
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-body.warning {
  padding-left: 45px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e18787' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M115.218-110.391q-14.957 0-26.832-7.365-11.876-7.365-18.473-19.418-6.696-11.826-7.196-25.772-.5-13.946 7.196-27.228L433.695-820q7.696-13.391 20.363-19.805 12.666-6.413 26-6.413 13.333 0 25.942 6.413 12.609 6.414 20.305 19.805l363.782 629.826q7.696 13.282 7.196 27.228-.5 13.946-7.196 25.772-6.696 11.826-18.522 19.305-11.826 7.478-26.783 7.478H115.218Zm76.913-97.522h575.738L480-704.173l-287.869 496.26ZM480-241.696q17.565 0 30.196-12.63 12.63-12.631 12.63-30.196t-12.63-29.913Q497.565-326.783 480-326.783t-30.196 12.348q-12.63 12.348-12.63 29.913 0 17.565 12.63 30.196 12.631 12.63 30.196 12.63ZM480-360q17 0 28.5-11.5T520-400v-113.782q0-17-11.5-28.5t-28.5-11.5q-17 0-28.5 11.5t-11.5 28.5V-400q0 17 11.5 28.5T480-360Zm0-96.043Z'/%3E%3C/svg%3E");
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-body.danger {
  padding-left: 45px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ef2e40' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M479.871-260.782q23.912 0 40.217-16.175 16.304-16.176 16.304-40.088 0-23.912-16.176-40.499-16.175-16.587-40.087-16.587-23.912 0-40.217 16.587-16.304 16.587-16.304 40.499 0 23.912 16.176 40.088 16.175 16.175 40.087 16.175ZM480-438.87q22.087 0 37.544-15.456 15.457-15.457 15.457-37.544v-147q0-22.087-15.457-37.543Q502.087-691.87 480-691.87q-22.087 0-37.544 15.457-15.457 15.456-15.457 37.543v147q0 22.087 15.457 37.544Q457.913-438.87 480-438.87Zm0 378.088q-87.522 0-163.906-32.96-76.385-32.96-132.888-89.464-56.504-56.503-89.464-132.888Q60.782-392.478 60.782-480t32.96-163.906q32.96-76.385 89.464-132.888 56.503-56.504 132.888-89.464 76.384-32.96 163.906-32.96t163.906 32.96q76.385 32.96 132.888 89.464 56.504 56.503 89.464 132.888 32.96 76.384 32.96 163.906t-32.96 163.906q-32.96 76.385-89.464 132.888-56.503 56.504-132.888 89.464Q567.522-60.782 480-60.782Zm0-106.001q131.739 0 222.478-90.739T793.217-480q0-131.739-90.739-222.478T480-793.217q-131.739 0-222.478 90.739T166.783-480q0 131.739 90.739 222.478T480-166.783ZM480-480Z'/%3E%3C/svg%3E");
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-body > .dialog-content {
  height: 100%;
  word-break: keep-all;
  word-wrap: break-word;
  overflow: auto;
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-body > .dialog-content > .dialog-frame {
  width: 100%;
  height: 100%;
  border: 0;
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-footer {
  height: 45px;
}
.daracl-dialog-wrapper > .daracl-dialog > .dialog-footer > .btn-area {
  text-align: right;
  padding: 12px 5px 0px;
}
.daracl-dialog-wrapper > .daracl-dialog > .resizer {
  position: absolute;
  z-index: 2;
}
.daracl-dialog-wrapper > .daracl-dialog > .resizer.top {
  top: -2px;
  left: 0px;
  width: 100%;
  height: 5px;
  cursor: n-resize;
}
.daracl-dialog-wrapper > .daracl-dialog > .resizer.left {
  top: 0px;
  left: -2px;
  width: 5px;
  height: 100%;
  cursor: e-resize;
}
.daracl-dialog-wrapper > .daracl-dialog > .resizer.right {
  top: 0px;
  right: -2px;
  width: 5px;
  height: 100%;
  cursor: w-resize;
}
.daracl-dialog-wrapper > .daracl-dialog > .resizer.bottom {
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 5px;
  cursor: s-resize;
}
.daracl-dialog-wrapper > .daracl-dialog > .resizer.top-left {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 7px;
  cursor: nwse-resize;
}
.daracl-dialog-wrapper > .daracl-dialog > .resizer.top-right {
  top: 0px;
  right: 0px;
  width: 7px;
  height: 7px;
  cursor: nesw-resize;
}
.daracl-dialog-wrapper > .daracl-dialog > .resizer.bottom-left {
  bottom: 0px;
  left: 0px;
  width: 7px;
  height: 7px;
  cursor: nesw-resize;
}
.daracl-dialog-wrapper > .daracl-dialog > .resizer.bottom-right {
  bottom: 0px;
  right: 0px;
  width: 7px;
  height: 7px;
  cursor: nwse-resize;
}
.daracl-dialog-wrapper > .daracl-dialog .dialog-btn {
  border-radius: 4px;
  background-color: #f2f7f5; /* Green */
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 3px 5px;
  margin-right: 10px;
  cursor: pointer;
}
.daracl-dialog-wrapper > .daracl-dialog .dialog-btn.primary {
  background-color: #cce5ff;
  border-color: #b8daff;
  color: #ffffff;
}
.daracl-dialog-wrapper > .daracl-dialog .dialog-btn.secondary {
  background-color: #e2e3e5;
  border-color: #d6d8db;
  color: #ffffff;
}
.daracl-dialog-wrapper > .daracl-dialog .dialog-btn.info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #155724;
}
.daracl-dialog-wrapper > .daracl-dialog .dialog-btn.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.daracl-dialog-wrapper > .daracl-dialog .dialog-btn.warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #155724;
}
.daracl-dialog-wrapper > .daracl-dialog .dialog-btn.danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #ffffff;
}
.daracl-dialog-wrapper > .daracl-dialog.hide {
  -webkit-animation: fadeOut 0.3s;
          animation: fadeOut 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes daradialogHide {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
@keyframes daradialogHide {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
/*# sourceMappingURL=daracl.dialog.css.map */